<header data-is-mobile="false" data-state="" data-site-width="980"
        style="left: 0px; margin-left: 0px; width: 100%; min-width: 980px; top: 0px; height: 337px;" class="hc1" id="SITE_HEADER"><div style="left:0;width:100%" id="SITE_HEADERscreenWidthBackground" class="hc1screenWidthBackground"></div><div id="SITE_HEADERcenteredContent" class="hc1centeredContent"><div style="margin-left:calc((100% - 980px) / 2);width:980px" id="SITE_HEADERbg" class="hc1bg"></div><div id="SITE_HEADERinlineContent" class="hc1inlineContent">

  <div style="left: 412px; width: 150px; position: absolute; top: 28px; height: 150px;" class="style-ikwjgkff" id="Cntnr2">
    <div id="Cntnr2bg" class="style-ikwjgkffbg"></div>
    <div id="Cntnr2inlineContent" class="style-ikwjgkffinlineContent">
      <div style="left: 35px; position: absolute; top: 23px; width: 80px; height: 90px;" data-exact-height="90" data-content-padding-horizontal="0" data-content-padding-vertical="0" title="" class="wp2" id="comp-ikpb085i">
        <a style="cursor: pointer; width: 80px; height: 90px;" routerLink="/home" target="_self" id="comp-ikpb085ilink" class="wp2link"><div data-style="" class="wp2img" id="comp-ikpb085iimg" style="position: relative; width: 80px; height: 90px;">
          <img id="comp-ikpb085iimgimage" alt="" data-type="image" src="assets/img/logo/logo.png" style="width: 80px; height: 90px; object-fit: cover;"></div></a></div>

    </div>
  </div>

  <div data-svg-id="488df8c503444757aed4fc366b077aaf.svg" data-svg-type="shape" data-display-mode="legacyFit" data-strokewidth="0" data-viewbox="0 0 200 200" data-preserve-viewbox="ignore" style="left: 277px; width: 425px; position: absolute; top: 147px; height: 74px;" class="style-ikpd2l4t1" id="comp-ikpcirfq">
    <div style="fill-opacity:1;stroke-width:0;stroke:#000000;stroke-opacity:1;fill:rgba(255, 255, 255, 1)" class="style-ikpd2l4t1_comp-ikpcirfq style-ikpd2l4t1_non-scaling-stroke style-ikpd2l4t1svg" id="comp-ikpcirfqsvg">
      <svg viewBox="7.997387886047363 82.62236022949219 184.04739379882812 34.677635192871094" role="img" preserveAspectRatio="xMidYMid meet" style="stroke-width: 0px;">
        <g>
          <path d="M170.2 106.7c.4-5.1 1.6-10.8 1.1-15.9-.4-4.1-3.1-3.5-6.6-3.7-11.6-.6-23.1-1.8-34.7-2.5-21.5-1.4-42.9-2.4-64.4-1.8-11.7.3-23.4 1-35.1 2.2-.4 0-.6.2-.7.5 0 .1-.1.2 0 .4.4 6.6.5 13.3.9 19.9 0 .5.4 1 1 1 10.5.4 21.1.9 31.7.9 5.6 0 11.1-.6 16.7-1 5.7-.3 11.5-.2 17.3 0 11.8.5 23.6 1.4 35.4 1.5 12.1.1 24.3-.2 36.4-.6.5 0 .9-.3 1-.9z"></path>
          <path d="M192 96.2c.2-.6-.3-1.3-.9-1.3-3.8.1-7.3-.5-11.1-1.2-2.3-.4-4.3-.4-6.5.6-.7.3-.6 1-.3 1.4-.2 4.4-.6 8.7-1.1 13-3.7.2-7.5.4-11.2.6-.6 0-.9.4-1 1-.2 1.6-.4 3.2-.3 4.8 0 .5.4 1 1 1 10.2-.4 20.4 3.1 30.4-.3.6-.2 1-.8.6-1.4-1.8-3.5-4.1-6.6-7-9.3 3.4-1.9 5.9-5 7.4-8.9z"></path>
          <path d="M42 109c-3.2-.4-6.2.4-9.4.6-1.4.1-3.1.5-3.7-.7-.3-.6-.2-1.8-.3-2.4-.5-4.4-.7-9-1.7-13.3-.1-.6-.7-.8-1.2-.7h-.4c-4.1.5-8.2 1-12.3 1.4-1.5.1-4.9.1-5 2.5-.1 1.9 2.7 3.1 4 4.1 1.4 1.1 2.8 2.6 4.5 3.4-2.3 2.9-5 5.4-7.6 8-.6.7-.2 1.6.6 1.7 10.9 1.5 21.9 2.9 32.7.3.4-.1.7-.5.8-.9 0-1 .1-2 .1-3-.1-.6-.5-.9-1.1-1z"></path>
        </g>
      </svg>
    </div>
    <a routerLink="/home" target="_self" style="cursor:pointer" id="comp-ikpcirfqlink" class="style-ikpd2l4t1link"></a></div>

  <div data-packed="true" style="left: 353px; width: 275px; position: absolute; pointer-events: none; top: 157px;" class="txtNew" id="SITE_STRUCTURE_WRichText_0">
    <h2 style="line-height:1.1em; text-align:center;" class="font_0">
      <a routerLink="/home" target="_self">
        <span style="line-height:1.1em;">
    <span style="letter-spacing:0.05em;">Ice Cream &amp; Dessert</span></span></a>
    </h2>
  </div>
  <!--<style type="text/css" data-styleid="txtNew">-->
  <div data-packed="true" style="left: 253px; width: 474px; position: absolute; pointer-events: none; top: 207px;" class="txtNew" id="WRchTxtb"><h6 style="line-height:1.3em; text-align:center;" class="font_6">Enjoy your sweet time!</h6>
  </div>

  <nav style="left: -3px; width: 100%; position: absolute; top: 267px; height: 45px; overflow-x: visible;" data-menuborder-y="0" data-menubtn-border="6" data-ribbon-els="0" data-label-pad="0" data-ribbon-extra="0" data-drophposition="" data-dropalign="center" dir="ltr" class="ddm2" data-state="center notMobile" data-dropmode="dropDown"><ul style="text-align:center" aria-label="Site navigation" role="navigation" id="DrpDwnMn0itemsContainer" class="ddm2itemsContainer">

    <li class="ddm2repeaterButton" data-state="menu selected idle link notMobile" data-original-gap-between-text-and-btn="7" aria-hidden="false" style="width: 159px; height: 45px; position: relative; box-sizing: border-box; overflow: visible;">
      <a role="button" tabindex="0" aria-haspopup="false" data-listposition="left" routerLink="/home" target="_self" id="DrpDwnMn01linkElement" class="ddm2repeaterButtonlinkElement">
        <div class="ddm2repeaterButton_wrapper">
          <div class="ddm2repeaterButtonborderWrapper">
            <div style="text-align:center" class="ddm2repeaterButtonbg">
              <p style="text-align: center; line-height: 39px;" class="ddm2repeaterButtonlabel">HOME</p>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li class="ddm2repeaterButton" data-state="menu selected idle link notMobile" data-original-gap-between-text-and-btn="7" aria-hidden="false" style="width: 159px; height: 45px; position: relative; box-sizing: border-box; overflow: visible;">
      <a role="button" tabindex="0" aria-haspopup="false" data-listposition="left" routerLink="/icecream" target="_self" id="DrpDwnMn02linkElement" class="ddm2repeaterButtonlinkElement">
        <div class="ddm2repeaterButton_wrapper">
          <div class="ddm2repeaterButtonborderWrapper">
            <div style="text-align:center" class="ddm2repeaterButtonbg">
              <p style="text-align: center; line-height: 39px;" class="ddm2repeaterButtonlabel">Ice Cream</p>
            </div>
          </div>
        </div>
      </a>
    </li>
    <!--<li class="ddm2repeaterButton" data-state="menu selected idle link notMobile" data-original-gap-between-text-and-btn="7" aria-hidden="false" style="width: 159px; height: 45px; position: relative; box-sizing: border-box; overflow: visible;">-->
      <!--<a role="button" tabindex="0" aria-haspopup="false" data-listposition="left" routerLink="/dessert" target="_self" id="DrpDwnMn03linkElement" class="ddm2repeaterButtonlinkElement">-->
        <!--<div class="ddm2repeaterButton_wrapper">-->
          <!--<div class="ddm2repeaterButtonborderWrapper">-->
            <!--<div style="text-align:center" class="ddm2repeaterButtonbg">-->
              <!--<p style="text-align: center; line-height: 39px;" class="ddm2repeaterButtonlabel">Dessert</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</a>-->
    <!--</li>-->
    <li class="ddm2repeaterButton" data-state="menu selected idle link notMobile" data-original-gap-between-text-and-btn="7" aria-hidden="false" style="width: 159px; height: 45px; position: relative; box-sizing: border-box; overflow: visible;">
      <a role="button" tabindex="0" aria-haspopup="false" data-listposition="left" routerLink="/aboutus" target="_self" class="ddm2repeaterButtonlinkElement">
        <div class="ddm2repeaterButton_wrapper">
          <div class="ddm2repeaterButtonborderWrapper">
            <div style="text-align:center" class="ddm2repeaterButtonbg">
              <p style="text-align: center; line-height: 39px;" class="ddm2repeaterButtonlabel">About Us</p>
            </div>
          </div>
        </div>
      </a>
    </li>

  </ul>
    <div id="DrpDwnMn0moreButton" class="ddm2moreButton"></div>
    <nav style="visibility: hidden; left: 498px; right: auto; bottom: auto;" data-drophposition="" data-dropalign="center" id="DrpDwnMn0dropWrapper" class="ddm2dropWrapper"><ul style="visibility: hidden; left: 498px; right: auto;" id="DrpDwnMn0moreContainer" class="ddm2moreContainer"></ul></nav></nav>

</div></div></header>