#Cntnr2 {
    margin-left: calc((100% - 980px) * 0.5);
}

#comp-ikpcirfq {
    margin-left: calc((100% - 980px) * 0.5);
}

#SITE_STRUCTURE_WRichText_0 {
    margin-left: calc((100% - 980px) * 0.5);
}

#WRchTxtb {
    margin-left: calc((100% - 980px) * 0.5);
}

#DrpDwnMn0 {
    margin-left: calc((100% - 980px) * 0.5);
}
.wp2_zoomedin {cursor:url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/cursor_zoom_out.png), url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/cursor_zoom_out.cur), auto;overflow:hidden;display:block;}
.wp2_zoomedout {cursor:url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/cursor_zoom_in.png), url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/cursor_zoom_in.cur), auto;}
.wp2link {display:block;overflow:hidden;}
.wp2img {overflow:hidden;}
.wp2imgimage {position:static;box-shadow:#000 0 0 0;user-select:none;}
.style-ikwjgkffbg {border:0px solid rgba(240, 183, 189, 1);background-color:rgba(153, 227, 236, 1);}
.style-ikwjgkffinlineContent,.style-ikwjgkffbg {position:absolute;top:0;right:0;bottom:0;left:0;border-radius:50%;}
.style-ikpd2l4t1link,.style-ikpd2l4t1svg {position:absolute;top:0;right:0;bottom:0;left:0;}
.style-ikpd2l4t1 svg {position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;margin:auto;}
.style-ikpd2l4t1_non-scaling-stroke * {vector-effect:non-scaling-stroke;}
.txtNew {word-wrap:break-word;text-align:start;}
.txtNew_override-left * {text-align:left !important;}
.txtNew_override-right * {text-align:right !important;}
.txtNew_override-center * {text-align:center !important;}
.txtNew_override-justify * {text-align:justify !important;}
.txtNew > * {pointer-events:auto;}
.txtNew li {font-style:inherit;font-weight:inherit;line-height:inherit;letter-spacing:normal;}
.txtNew ol,.txtNew ul {padding-left:1.3em;padding-right:0;margin-left:0.5em;margin-right:0;line-height:normal;letter-spacing:normal;}
.txtNew ul {list-style-type:disc;}
.txtNew ol {list-style-type:decimal;}
.txtNew ul ul,.txtNew ol ul {list-style-type:circle;}
.txtNew ul ul ul,.txtNew ol ul ul {list-style-type:square;}
.txtNew ul ol ul,.txtNew ol ol ul {list-style-type:square;}
.txtNew ul[dir="rtl"],.txtNew ol[dir="rtl"] {padding-left:0;padding-right:1.3em;margin-left:0;margin-right:0.5em;}
.txtNew ul[dir="rtl"] ul,.txtNew ul[dir="rtl"] ol,.txtNew ol[dir="rtl"] ul,.txtNew ol[dir="rtl"] ol {padding-left:0;padding-right:1.3em;margin-left:0;margin-right:0.5em;}
.txtNew p {margin:0;line-height:normal;letter-spacing:normal;}
.txtNew h1 {margin:0;line-height:normal;letter-spacing:normal;}
.txtNew h2 {margin:0;line-height:normal;letter-spacing:normal;}
.txtNew h3 {margin:0;line-height:normal;letter-spacing:normal;}
.txtNew h4 {margin:0;line-height:normal;letter-spacing:normal;}
.txtNew h5 {margin:0;line-height:normal;letter-spacing:normal;}
.txtNew h6 {margin:0;line-height:normal;letter-spacing:normal;}
.txtNew a {color:inherit;}

.txtNew {word-wrap:break-word;text-align:start;}
.txtNew_override-left * {text-align:left !important;}
.txtNew_override-right * {text-align:right !important;}
.txtNew_override-center * {text-align:center !important;}
.txtNew_override-justify * {text-align:justify !important;}
.txtNew > * {pointer-events:auto;}
.txtNew li {font-style:inherit;font-weight:inherit;line-height:inherit;letter-spacing:normal;}
.txtNew ol,.txtNew ul {padding-left:1.3em;padding-right:0;margin-left:0.5em;margin-right:0;line-height:normal;letter-spacing:normal;}
.txtNew ul {list-style-type:disc;}
.txtNew ol {list-style-type:decimal;}
.txtNew ul ul,.txtNew ol ul {list-style-type:circle;}
.txtNew ul ul ul,.txtNew ol ul ul {list-style-type:square;}
.txtNew ul ol ul,.txtNew ol ol ul {list-style-type:square;}
.txtNew ul[dir="rtl"],.txtNew ol[dir="rtl"] {padding-left:0;padding-right:1.3em;margin-left:0;margin-right:0.5em;}
.txtNew ul[dir="rtl"] ul,.txtNew ul[dir="rtl"] ol,.txtNew ol[dir="rtl"] ul,.txtNew ol[dir="rtl"] ol {padding-left:0;padding-right:1.3em;margin-left:0;margin-right:0.5em;}
.txtNew p {margin:0;line-height:normal;letter-spacing:normal;}
.txtNew h1 {margin:0;line-height:normal;letter-spacing:normal;}
.txtNew h2 {margin:0;line-height:normal;letter-spacing:normal;}
.txtNew h3 {margin:0;line-height:normal;letter-spacing:normal;}
.txtNew h4 {margin:0;line-height:normal;letter-spacing:normal;}
.txtNew h5 {margin:0;line-height:normal;letter-spacing:normal;}
.txtNew h6 {margin:0;line-height:normal;letter-spacing:normal;}
.txtNew a {color:inherit;}
.ddm2itemsContainer {width:calc(100% - 0px);height:calc(100% - 0px);white-space:nowrap;display:inline-block;overflow:visible;position:relative;}
.ddm2moreContainer {overflow:visible;display:inherit;white-space:nowrap;width:auto;border:solid 3px rgba(153, 227, 236, 1);background-color:rgba(255, 255, 255, 1);border-radius:0;  }
.ddm2dropWrapper {z-index:99999;display:block;opacity:1;visibility:hidden;position:absolute;margin-top:7px;box-sizing:border-box;  border-radius:0;}
.ddm2[data-dropmode="dropUp"] .ddm2dropWrapper {margin-top:0;margin-bottom:7px;}
.ddm2dropWrapper[data-drophposition="left"] {padding-left:0;}
.ddm2dropWrapper[data-drophposition="right"] {padding-right:0;}
.ddm2repeaterButton {height:100%;position:relative;box-sizing:border-box;display:inline-block;margin:0 3px;}
.ddm2repeaterButton[data-state~="header"] a,.ddm2repeaterButton[data-state~="header"] div {cursor:default !important;}
.ddm2repeaterButtonlinkElement {display:inline-block;height:100%;width:100%;}
.ddm2repeaterButtonlabel {transition:color 0.4s ease 0s;  font:normal normal normal 15px/1.4em proxima-n-w01-reg,sans-serif ;  color:#68391A;display:inline-block;}
.ddm2repeaterButton_wrapper {transition:background-color 0.4s ease 0s;  border-radius:0;  background-color:rgba(255, 255, 255, 1);  cursor:pointer;}
.ddm2repeaterButtonborderWrapper {transition:border-color 0.4s ease 0s;  border-radius:0;  border:solid 3px rgba(153, 227, 236, 1);}
.ddm2repeaterButton[data-state~="drop"] {display:block;margin:0;}
.ddm2repeaterButton[data-state~="drop"] .ddm2repeaterButton_wrapper {background-color:transparent;transition:background-color 0.4s ease 0s;    box-shadow:none;    border-radius:0;}
.ddm2repeaterButton[data-state~="drop"] .ddm2repeaterButtonborderWrapper {border:0;}
.ddm2repeaterButton[data-listposition="dropLonely"] .ddm2repeaterButton_wrapper,.ddm2repeaterButton[data-listposition="top"] .ddm2repeaterButton_wrapper,.ddm2repeaterButton[data-listposition="bottom"] .ddm2repeaterButton_wrapper {border-radius:0;}
.ddm2repeaterButton[data-listposition="top"] .ddm2repeaterButton_wrapper {border-bottom-left-radius:0;border-bottom-right-radius:0;}
.ddm2repeaterButton[data-listposition="bottom"] .ddm2repeaterButton_wrapper {border-top-left-radius:0;border-top-right-radius:0;}
.ddm2repeaterButton[data-state~="over"] .ddm2repeaterButton_wrapper,.ddm2repeaterButton[data-state~="selected"] .ddm2repeaterButton_wrapper,.ddm2repeaterButton[data-preview~="hover"] .ddm2repeaterButton_wrapper,.ddm2repeaterButton[data-preview~="active"] .ddm2repeaterButton_wrapper {transition:background-color 0.4s ease 0s;}
.ddm2repeaterButton[data-state~="over"] .ddm2repeaterButtonlabel,.ddm2repeaterButton[data-state~="selected"] .ddm2repeaterButtonlabel,.ddm2repeaterButton[data-preview~="hover"] .ddm2repeaterButtonlabel,.ddm2repeaterButton[data-preview~="active"] .ddm2repeaterButtonlabel {transition:color 0.4s ease 0s;}
.ddm2repeaterButton[data-state~="over"] .ddm2repeaterButtonborderWrapper,.ddm2repeaterButton[data-state~="selected"] .ddm2repeaterButtonborderWrapper,.ddm2repeaterButton[data-preview~="hover"] .ddm2repeaterButtonborderWrapper,.ddm2repeaterButton[data-preview~="active"] .ddm2repeaterButtonborderWrapper {transition:border-color 0.4s ease 0s;}
.ddm2repeaterButton[data-state~="over"] .ddm2repeaterButtonlabel,.ddm2repeaterButton[data-preview~="hover"] .ddm2repeaterButtonlabel {color:#67BDC7;}
.ddm2repeaterButton[data-state~="over"] .ddm2repeaterButton_wrapper,.ddm2repeaterButton[data-preview~="hover"] .ddm2repeaterButton_wrapper {background-color:rgba(255, 255, 255, 1);}
.ddm2repeaterButton[data-state~="over"] .ddm2repeaterButtonborderWrapper,.ddm2repeaterButton[data-preview~="hover"] .ddm2repeaterButtonborderWrapper {border-color:rgba(153, 227, 236, 1);}
.ddm2repeaterButton[data-state~="selected"] .ddm2repeaterButtonlabel,.ddm2repeaterButton[data-preview~="active"] .ddm2repeaterButtonlabel {color:#67BDC7;}
.ddm2repeaterButton[data-state~="selected"] .ddm2repeaterButton_wrapper,.ddm2repeaterButton[data-preview~="active"] .ddm2repeaterButton_wrapper {background-color:rgba(255, 255, 255, 1);}
.ddm2repeaterButton[data-state~="selected"] .ddm2repeaterButtonborderWrapper,.ddm2repeaterButton[data-preview~="active"] .ddm2repeaterButtonborderWrapper {border-color:rgba(153, 227, 236, 1);}