<section style="min-width: 980px; background-color:yellow;  position: relative; margin-left: 0px; top: 50px; height: 650px; left: 0px; width: 1088px;margin:0 auto;" data-responsive="true" class="strc1" ><div style="position: absolute; top: 0px; width: calc(100% - 0px); height: 100%; overflow: hidden; pointer-events: auto; left: 0px; right: 0px; min-width: 980px;" data-page-id="f3zum" data-enable-video="true" data-bg-effect-name="" data-media-type="" data-render-fixed-position="true" data-use-clip-path="" data-needs-clipping="" class="strc1balata"><div style="width:100%;height:100%;background-color:transparent;position:absolute" class="bgColor"><div data-background-image="" style="width:100%;height:100%;position:absolute" class="bgColoroverlay"></div></div></div><div style="position:relative;width:calc(100% - 0px);min-width:980px" class="strc1inlineContent">
  <div style="flex: 490 1 0%; margin-left: 0px; min-width: 490px; margin-top: 0px; margin-bottom: 0px; top: 0px; height: 650px; position: relative;" data-content-width="490" class="strc1">
    <div style="position: absolute; top: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: auto;" data-page-id="f3zum" data-enable-video="true" data-bg-effect-name="" data-media-type="" data-render-fixed-position="true" data-use-clip-path="" data-needs-clipping="" class="strc1balata">
      <div style="width:100%;height:100%;background-color:rgba(255, 255, 255, 1);position:absolute" class="bgColor">
        <div data-background-image="" style="width:100%;height:100%;position:absolute" class="bgColoroverlay"></div></div></div>
    <div style="width:100%;position:absolute;top:0;bottom:0" class="strc1inlineContent">

      <div data-packed="true" style="left: 100px; width: 280px; position: absolute; pointer-events: none; top: 188px;" class="txtNew" ><h5 style="text-align:center;" class="font_5">
        <span style="letter-spacing:0.05em;">OUR Flavors</span></h5>
      </div>

      <div data-packed="true" style="left: 100px; width: 280px; position: absolute; pointer-events: none; top: 227px;" class="txtNew" ><h6 style="text-align:center;" class="font_6">Ice cream by the sea</h6>
      </div>

      <div data-packed="true" style="left: 82px; width: 317px; position: absolute; pointer-events: none; top: 309px;" class="txtNew"><p style="text-align:center; line-height:1.6em;" class="font_8"><span style="line-height:1.6em;"><span style="letter-spacing:0.01em;">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.&nbsp;</span></span></p>
      </div>

    </div>
  </div>
  <div style="flex: 490 1 0%; margin-left: 0px; min-width: 490px; margin-top: 0px; margin-bottom: 0px; top: 0px; height: 650px; position: relative;" data-content-width="490" class="strc1">
    <div style="position: absolute; top: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: auto;" data-page-id="f3zum" data-enable-video="true" data-bg-effect-name="" data-media-type="Image" data-render-fixed-position="true" data-use-clip-path="" data-needs-clipping="" class="strc1balata">
      <div style="width:100%;height:100%;background-color:rgba(255, 255, 255, 1);position:absolute" class="bgColor" ><div data-background-image="" style="width:100%;height:100%;position:absolute"  class="bgColoroverlay"></div></div>
      <div style="position: absolute; pointer-events: auto; top: 0px; width: 544px; height: 650px; left: 0px;" data-effect="none" data-fitting="fill" data-align="right" class="bgMedia"><div data-type="image" data-style="" class="bgImage" style="position: relative; width: 544px; height: 650px;">
        <img alt="" data-type="image" style="width: 544px; height: 650px; object-fit: cover;" src="assets/img/dessert/flavor.webp">
      </div>
      </div></div>
    <div style="width:100%;position:absolute;top:0;bottom:0" class="strc1inlineContent">

    </div></div>
</div>
</section>

<section style="min-width: 980px; background-color:yellow;  position: relative; margin-left: 0px; top: 50px; height: 650px; width: 1088px;margin:10px auto;" data-responsive="true" class="strc1" ><div style="position: absolute; top: 0px; width: calc(100% - 0px); height: 100%; overflow: hidden; pointer-events: auto; left: 0px; right: 0px; min-width: 980px;" data-page-id="f3zum" data-enable-video="true" data-bg-effect-name="" data-media-type="" data-render-fixed-position="true" data-use-clip-path="" data-needs-clipping="" class="strc1balata"><div style="width:100%;height:100%;background-color:transparent;position:absolute" class="bgColor"><div data-background-image="" style="width:100%;height:100%;position:absolute" class="bgColoroverlay"></div></div></div><div style="position:relative;width:calc(100% - 0px);min-width:980px" class="strc1inlineContent">

  <div style="flex: 490 1 0%; margin-left: 0px; min-width: 490px; margin-top: 0px; margin-bottom: 0px; top: 0px; height: 650px; position: relative;" data-content-width="490" class="strc1">
    <div style="position: absolute; top: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: auto;" data-page-id="f3zum" data-enable-video="true" data-bg-effect-name="" data-media-type="Image" data-render-fixed-position="true" data-use-clip-path="" data-needs-clipping="" class="strc1balata">
      <div style="width:100%;height:100%;background-color:rgba(255, 255, 255, 1);position:absolute" class="bgColor" ><div data-background-image="" style="width:100%;height:100%;position:absolute"  class="bgColoroverlay"></div></div>
      <div style="position: absolute; pointer-events: auto; top: 0px; width: 544px; height: 650px; left: 0px;" data-effect="none" data-fitting="fill" data-align="right" class="bgMedia"><div data-type="image" data-style="" class="bgImage" style="position: relative; width: 544px; height: 650px;"><img alt="" data-type="image" style="width: 544px; height: 650px; object-fit: cover;" src="assets/img/dessert/dessert.webp">
      </div>
      </div></div>
    <div style="width:100%;position:absolute;top:0;bottom:0" class="strc1inlineContent">

    </div></div>
  <div style="flex: 490 1 0%; margin-left: 0px; min-width: 490px; margin-top: 0px; margin-bottom: 0px; top: 0px; height: 650px; position: relative;" data-content-width="490" class="strc1">
    <div style="position: absolute; top: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: auto;" data-page-id="f3zum" data-enable-video="true" data-bg-effect-name="" data-media-type="" data-render-fixed-position="true" data-use-clip-path="" data-needs-clipping="" class="strc1balata">
      <div style="width:100%;height:100%;background-color:rgba(255, 255, 255, 1);position:absolute" class="bgColor">
        <div data-background-image="" style="width:100%;height:100%;position:absolute" class="bgColoroverlay"></div></div></div>
    <div style="width:100%;position:absolute;top:0;bottom:0" class="strc1inlineContent">

      <div data-packed="true" style="left: 100px; width: 280px; position: absolute; pointer-events: none; top: 188px;" class="txtNew"><h5 style="text-align:center;" class="font_5">
        <span style="letter-spacing:0.05em;">DESSERT</span></h5>
      </div>

      <div data-packed="true" style="left: 100px; width: 280px; position: absolute; pointer-events: none; top: 227px;" class="txtNew" ><h6 style="text-align:center;" class="font_6">Ice cream by the sea</h6>
      </div>

      <div data-packed="true" style="left: 82px; width: 317px; position: absolute; pointer-events: none; top: 309px;" class="txtNew"><p style="text-align:center; line-height:1.6em;" class="font_8"><span style="line-height:1.6em;"><span style="letter-spacing:0.01em;">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.&nbsp;</span></span></p>
      </div>

    </div></div>
</div>
</section>

<section style="min-width: 980px; background-color:yellow;  position: relative; margin-left: 0px; top: 50px; height: 650px; left: 0px; width: 1088px;margin:0 auto;" data-responsive="true" class="strc1" ><div style="position: absolute; top: 0px; width: calc(100% - 0px); height: 100%; overflow: hidden; pointer-events: auto; left: 0px; right: 0px; min-width: 980px;" data-page-id="f3zum" data-enable-video="true" data-bg-effect-name="" data-media-type="" data-render-fixed-position="true" data-use-clip-path="" data-needs-clipping="" class="strc1balata"><div style="width:100%;height:100%;background-color:transparent;position:absolute" class="bgColor"><div data-background-image="" style="width:100%;height:100%;position:absolute" class="bgColoroverlay"></div></div></div><div style="position:relative;width:calc(100% - 0px);min-width:980px" class="strc1inlineContent">
  <div style="flex: 490 1 0%; margin-left: 0px; min-width: 490px; margin-top: 0px; margin-bottom: 0px; top: 0px; height: 650px; position: relative;" data-content-width="490" class="strc1">
    <div style="position: absolute; top: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: auto;" data-page-id="f3zum" data-enable-video="true" data-bg-effect-name="" data-media-type="" data-render-fixed-position="true" data-use-clip-path="" data-needs-clipping="" class="strc1balata">
      <div style="width:100%;height:100%;background-color:rgba(255, 255, 255, 1);position:absolute" class="bgColor">
        <div data-background-image="" style="width:100%;height:100%;position:absolute" class="bgColoroverlay"></div></div></div>
    <div style="width:100%;position:absolute;top:0;bottom:0" class="strc1inlineContent">

      <div data-packed="true" style="left: 100px; width: 280px; position: absolute; pointer-events: none; top: 188px;" class="txtNew" ><h5 style="text-align:center;" class="font_5">
        <span style="letter-spacing:0.05em;">OUR PLACE</span></h5>
      </div>

      <div data-packed="true" style="left: 100px; width: 280px; position: absolute; pointer-events: none; top: 227px;" class="txtNew" ><h6 style="text-align:center;" class="font_6">Ice cream by the sea</h6>
      </div>

      <div data-packed="true" style="left: 82px; width: 317px; position: absolute; pointer-events: none; top: 309px;" class="txtNew"><p style="text-align:center; line-height:1.6em;" class="font_8"><span style="line-height:1.6em;"><span style="letter-spacing:0.01em;">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.&nbsp;</span></span></p>
      </div>

    </div>
  </div>
  <div style="flex: 490 1 0%; margin-left: 0px; min-width: 490px; margin-top: 0px; margin-bottom: 0px; top: 0px; height: 650px; position: relative;" data-content-width="490" class="strc1">
    <div style="position: absolute; top: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: auto;" data-page-id="f3zum" data-enable-video="true" data-bg-effect-name="" data-media-type="Image" data-render-fixed-position="true" data-use-clip-path="" data-needs-clipping="" class="strc1balata">
      <div style="width:100%;height:100%;background-color:rgba(255, 255, 255, 1);position:absolute" class="bgColor" ><div data-background-image="" style="width:100%;height:100%;position:absolute"  class="bgColoroverlay"></div></div>
      <div style="position: absolute; pointer-events: auto; top: 0px; width: 544px; height: 650px; left: 0px;" data-effect="none" data-fitting="fill" data-align="right" class="bgMedia"><div data-type="image" data-style="" class="bgImage" style="position: relative; width: 544px; height: 650px;"><img alt="" data-type="image" style="width: 544px; height: 650px; object-fit: cover;" src="assets/img/dessert/place.webp">
      </div>
      </div></div>
    <div style="width:100%;position:absolute;top:0;bottom:0" class="strc1inlineContent">

    </div></div>
</div>
</section>