<footer
  style="bottom: auto; left: 0px; margin: 0 auto; width: 900px; min-width: 980px; position: relative; margin-top: 100px; height: 111px;"
  class="fc1_footer fc1"
  data-site-width="980"
  data-fixedposition="false"
  data-isrunninginmobile="false"
  data-state=" "
  id="SITE_FOOTER"
>
  <div
    style="left: 0px; width: 1138px;"
    id="SITE_FOOTERscreenWidthBackground"
    class="fc1screenWidthBackground"
  ></div>
  <div
    style="width:100%"
    id="SITE_FOOTERcenteredContent"
    class="fc1centeredContent"
  >
    <div
      style="margin-left:calc((100% - 980px) / 2);width:980px"
      id="SITE_FOOTERbg"
      class="fc1bg"
    ></div>
    <div id="SITE_FOOTERinlineContent" class="fc1inlineContent">
      <div
        style="left: 4px; position: absolute; top: 27px; width: 448px; height: 10px;"
        data-exact-height="10"
        data-content-padding-horizontal="0"
        data-content-padding-vertical="0"
        title=""
        class="wp2"
        id="comp-ikwod2ci1"
      >
        <div
          style="width: 448px; height: 10px;"
          id="comp-ikwod2ci1link"
          class="wp2link"
        >
          <div
            data-style=""
            class="wp2img"
            id="comp-ikwod2ci1img"
            style="position: relative; width: 448px; height: 10px;"
          >
            <img
              id="comp-ikwod2ci1imgimage"
              alt=""
              data-type="image"
              style="width: 448px; height: 10px; object-fit: cover;"
              src="/assets/img/banner/star_list.png"
            />
          </div>
        </div>
      </div>

      <div
        data-svg-id="4e07ab1582cefce0ee724a472cf2b633_svgshape.v1.StarSilhouette.svg"
        data-svg-type="shape"
        data-display-mode="legacyFit"
        data-strokewidth="0"
        data-viewbox="-11.485 -20.142 377 377"
        data-preserve-viewbox="ignore"
        style="left: 466px; width: 42px; position: absolute; top: 10px; height: 37px;"
        class="style-ikwocqc9"
        id="comp-ikwod2ci"
      >
        <div
          style="fill-opacity:1;stroke-width:0;stroke:#ED1566;stroke-opacity:1;fill:rgba(255, 255, 255, 1)"
          class="style-ikwocqc9_comp-ikwod2ci style-ikwocqc9_non-scaling-stroke style-ikwocqc9svg"
          id="comp-ikwod2cisvg"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 353.6839904785156 336.3699951171875"
            role="img"
            preserveAspectRatio="xMidYMid meet"
            style="stroke-width: 0px;"
          >
            <g>
              <path
                d="M176.842 0l54.634 110.714 122.208 17.77-88.432 86.194 20.877 121.692-109.287-57.449L67.535 336.37l20.876-121.692L0 128.484l122.189-17.77L176.842 0z"
              ></path>
            </g>
          </svg>
        </div>
        <div id="comp-ikwod2cilink" class="style-ikwocqc9link"></div>
      </div>

      <div
        style="left: 529px; position: absolute; top: 27px; width: 448px; height: 10px;"
        data-exact-height="10"
        data-content-padding-horizontal="0"
        data-content-padding-vertical="0"
        title=""
        class="wp2"
        id="comp-ikwod2c9"
      >
        <div
          style="width: 448px; height: 10px;"
          id="comp-ikwod2c9link"
          class="wp2link"
        >
          <div
            data-style=""
            class="wp2img"
            id="comp-ikwod2c9img"
            style="position: relative; width: 448px; height: 10px;"
          >
            <img
              alt=""
              data-type="image"
              style="width: 448px; height: 10px; object-fit: cover;"
              src="/assets/img/banner/star_list.png"
            />
          </div>
        </div>
      </div>

      <div
        data-packed="true"
        style="left: 237px; width: 506px; position: absolute; pointer-events: none; top: 69px;"
        class="txtNew"
        id="WRchTxt9"
      >
        <p class="font_9" style="text-align:center;">
          <span class="color_13"
            >© 2018 Ice Cream & Dessert by Zhuoyue. Refer to
            <span style="text-decoration:underline;"
              ><a
                href="http://wix.com/?utm_campaign=vir_created_with"
                target="_blank"
                data-content="http://wix.com/?utm_campaign=vir_created_with"
                data-type="external"
                rel="nofollow"
                >Wix.com</a
              ></span
            ></span
          >
        </p>
      </div>
    </div>
  </div>
</footer>
